.parent-1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.parent-2 img {
    width: 100px;
    height: 100px;
}

@media (max-width: 992px) {
    .parent-1 {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
}